body
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: rgb(81, 100, 92);
}

a 
{
    color:  rgb(74, 74, 74);
    font-weight: bold; 
    text-decoration: none;
    margin-left: 5%;
}

a:hover
{
    color: rgb(51, 50, 50); 
}

.comment-box
{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(164, 178, 172);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: white;
    width: 58%;
    margin: 10px auto;
    border-radius: 2px;
}

.comment-header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture 
{
    border-radius: 50%;
    border: 3px solid rgb(68, 82, 76);
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-right: 10px;
}

.username 
{
    font-size: 15px;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 3%;
    color: rgb(68, 82, 76);
}

.date 
{
    white-space: nowrap;
    font-size: 14px;
}

.comment-content 
{
    color:rgb(51, 50, 50); 
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.error 
{
    color:rgb(51, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    font-size: 20px;
}