body
{
    display: flex;
    flex-direction: row;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: rgb(74, 74, 74);
    margin: 0; 
    background-color: #f2f2f2;
}

h1
{
    margin-top:21.7%;    
}

.flex-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(81, 100, 92);
    width: 100%;
}

.head 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.sf 
{
    margin-top: 20px;
    margin-right: 60%; 
}

#search
{
    background-color: rgb(164, 178, 172);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border: white;
    border-radius: 2px;
    height: 20px;
}

#search::placeholder
{
    color: rgba(0, 0, 0, 0.5); /* Optional: to change the color of the placeholder */
    font-size: 14px;
}

#subSear
{
    border-radius: 2px;
    height: 23px;
}

.profile-link-picture 
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(74, 74, 74);
    cursor: pointer;
}

.profile-link-picture:hover 
{
    transform: scale(1.12);
    border: 3px solid  rgb(51, 50, 50); 
}

#logout
{
    color:  rgb(74, 74, 74);
    font-weight: bold; 
    text-decoration: none;
}

#logout:hover
{
    color: rgb(51, 50, 50); 
}


.body
{
    width: 100%;
    margin-top: 5%;
    /*background-image: url('../img/background.jpg');*/
}


#comment
{
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    height: 150px;
    background-color: rgb(164, 178, 172);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border: white;
    border-radius: 2px;
}

#comment::placeholder 
{
    position: relative;
    top: -30px; 
    left: 35px; 
    color: rgba(0, 0, 0, 0.5); /* Optional: to change the color of the placeholder */
    font-size: 14px; 
}

#subcom
{
    height: 27px;
    margin-left: 20%;
    border-radius: 2px;
}

.comment-box
{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(164, 178, 172);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: white;
    width: 58%;
    margin: 10px auto;
    border-radius: 2px;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture 
{
    border-radius: 50%;
    border: 3px solid rgb(68, 82, 76);
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-right: 10px;
}

.username 
{
    font-size: 15px;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 3%;
    color: rgb(68, 82, 76);
}

.date 
{
    white-space: nowrap;
}

.comment-content 
{
    color:rgb(51, 50, 50); 
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

input[type="submit"] 
{
    background-color: rgb(74, 74, 74); 
    color: #f2f2f2;
    cursor: pointer;
    border: 1.5px solid rgb(66, 66, 66);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover 
{
    background-color: rgb(51, 50, 50); 
}


button
{
    background-color: rgb(74, 74, 74); 
    color: #ffffff;
    cursor: pointer;
    border: 1.5px solid rgb(66, 66, 66);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    height: 27px;
    margin-left: 43%;
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 2px;
}


button:hover
{
    background-color: rgb(51, 50, 50); 
    color: #f2f2f2;
}
